name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    # Core library is built separately and linked manually
    
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.0.0'
    
    - name: Install xcodegen
      run: |
        brew install xcodegen
    
    - name: Generate Xcode project
      run: |
        xcodegen generate
    
    - name: Build iOS app
      run: |
        xcodebuild -project Terracotta.xcodeproj -scheme Terracotta -destination 'generic/platform=iOS' -configuration Release build
    
    - name: Export IPA
      run: |
        mkdir -p build
        xcodebuild -project Terracotta.xcodeproj -scheme Terracotta -destination 'generic/platform=iOS' -configuration Release -exportArchive -archivePath build/Terracotta.xcarchive -exportPath build -exportOptionsPlist <(echo '<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>method</key><string>development</string><key>teamID</key><string></string></dict></plist>')
