name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    
    # Core library is built separately and linked manually
    
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.0.0'
    
    - name: Install xcodegen
      run: |
        brew install xcodegen
    
    - name: Generate Xcode project
      run: |
        xcodegen generate
    
    - name: Build iOS app
      run: |
        xcodebuild -project Terracotta.xcodeproj -scheme Terracotta -destination 'platform=iOS Simulator,name=iPhone 13' build
